.gitignore.txt
.vs/BALLPHYSICS.slnx/FileContentIndex/f03183dd-6c65-425d-956a-01900cbb3c13.vsidx
.vs/BALLPHYSICS.slnx/v18/.suo
.vs/BALLPHYSICS.slnx/v18/DocumentLayout.backup.json
.vs/BALLPHYSICS.slnx/v18/Browse.VC.db
.vs/BALLPHYSICS.slnx/v18/ipch/AutoPCH/da492bea9d75f9e2/MAIN.ipch
BALLPHYSICS/BALLPHYSICS.vcxproj.user
BALLPHYSICS/Debug/BALLPHYSICS.ilk
BALLPHYSICS/Debug/BALLPHYSICS.exe.recipe
.vs/BALLPHYSICS.slnx/v18/DocumentLayout.json
BALLPHYSICS/Debug/BALLPHYSICS.tlog/BALLPHYSICS.lastbuildstate
BALLPHYSICS/Debug/BALLPHYSICS.tlog/CL.command.1.tlog
BALLPHYSICS/Debug/BALLPHYSICS.log
BALLPHYSICS/Debug/BALLPHYSICS.tlog/CL.read.1.tlog
BALLPHYSICS/Debug/BALLPHYSICS.tlog/CL.write.1.tlog
BALLPHYSICS/Debug/BALLPHYSICS.tlog/Cl.items.tlog
BALLPHYSICS/Debug/BALLPHYSICS.tlog/link.read.1.tlog
BALLPHYSICS/Debug/BALLPHYSICS.tlog/link.write.1.tlog
BALLPHYSICS/Debug/BALLPHYSICS.tlog/link.command.1.tlog
BALLPHYSICS/Debug/BALLPHYSICS.tlog/link.secondary.1.tlog
BALLPHYSICS/Debug/main.obj
BALLPHYSICS/Debug/vc145.pdb
BALLPHYSICS/Debug/vc145.idb
BALLPHYSICS/entity.hpp
BALLPHYSICS/x64/Debug/BALLPHYSICS.log
BALLPHYSICS/x64/Debug/BALLPHYSICS.tlog/unsuccessfulbuild
BALLPHYSICS/x64/Debug/BALLPHYSICS.tlog/CL.command.1.tlog
BALLPHYSICS/x64/Debug/BALLPHYSICS.tlog/BALLPHYSICS.lastbuildstate
BALLPHYSICS/x64/Debug/vc145.pdb
BALLPHYSICS/x64/Debug/vc145.idb
